<h2 *ngIf="filteredAlbums.length">Álbumes</h2>
<div class="list">
    <app-list-item *ngFor="let album of filteredAlbums" 
        [title]="album.title"
        [photoUrl]="album.coverUrl"
        [subtitle]="album.artist.name"
        (click)="openModal(album)"></app-list-item>
</div>
<h2 *ngIf="filteredArtists.length">Artistas</h2>
<div class="list">
    <app-list-item *ngFor="let artist of filteredArtists" 
        [title]="artist.name"
        [photoUrl]="artist.photoUrl"
        (click)="openModal(artist)"></app-list-item>
    <h1 class="not-found" *ngIf="!filteredArtists.length && !filteredAlbums.length">No se han encontrado álbumes ni artistas<br>:(</h1>
</div>
