<header>
    <h1>Kenjo<span style="color: var(--primary-blue)">Beat</span></h1>
    <div class="right-container">
        <app-global-search-bar (filter)="setFilter($event)"></app-global-search-bar>
        <app-add-button (pressed)="toggleDropdown()"></app-add-button>
        <app-add-dropdown [opened]="dropdownOpened" (close)="toggleDropdown()" 
            (createAlbum)="createAlbum()" (createArtist)="createArtist()"></app-add-dropdown>
        <img src="../../../assets/curved-header.svg" class="header-background"/>
    </div>
</header>