<div class="modal-container" [ngClass]="{closed: !open}">
    <div class="modal" [ngClass]="{closed: !open, album: currentIsAlbum}">
        <app-album-modal *ngIf="album" [album]="album" 
            class="inner-modal" [ngClass]="{ show: currentIsAlbum }"
            (toggle)="toggleToArtist($event)" [mode]="mode"
            (createAlbum)="createAlbum($event)"
            (editPressed)="editAlbumPressed($event)"
            (editAlbum)="editAlbum($event)"
            (deletePressed)="deleteAlbumPressed($event)"></app-album-modal>
        <app-artist-modal *ngIf="artist" [artist]="artist" 
            class="inner-modal" [ngClass]="{ show: !currentIsAlbum }"
            (toggle)="toggleToAlbum($event)" [mode]="mode"
            (createArtist)="createArtist($event)"
            (editPressed)="editArtistPressed($event)"
            (editArtist)="editArtist($event)"
            (deletePressed)="deleteArtistPressed($event)"></app-artist-modal>
    </div>
    <div class="modal-back" [ngClass]="{closed: !open}" (click)="closeModal()"></div>
</div>
