<app-header (filter)="setFilter($event)"
    (createAlbum)="createAlbumPressed()" (createArtist)="createArtistPressed()"></app-header>
<div id="app-content">
    <app-list (openModal)="openModal($event)" 
        [filter]="filter" [albums]="albums" [artists]="artists"></app-list>
    <app-modal [open]="modalOpened" (close)="closeModal()"
        [album]="openedAlbum"
        [artist]="openedArtist"
        (toggleToAlbum)="toggleToAlbum($event)"
        (toggleToArtist)="toggleToArtist($event)"
        [mode]="mode"
        (createAlbum)="createAlbum($event)"
        (createArtist)="createArtist($event)"
        (editAlbumPressed)="editAlbumPressed($event)"
        (editAlbum)="editAlbum($event)"
        (editArtistPressed)="editArtistPressed($event)"
        (editArtist)="editArtist($event)"
        (deleteAlbumPressed)="deleteAlbumPressed($event)"
        (deleteArtistPressed)="deleteArtistPressed($event)"></app-modal>
</div>
<app-snack [opened]="snackOpened" [error]="snackError" 
    [message]="snackMessage" (close)="hideSnack()"></app-snack>
<app-snack [opened]="confirmationOpened" [error]="false" 
    [message]="confirmationMessage" [yesNo]="true" (close)="hideConfirmation()"
    (accept)="deleteConfirmed()"></app-snack>