.album-list {
    border-radius: 10px;
    background-color: var(--primary-gray);
    overflow: scroll;
    height: 180px;
    width: 100%;
    color: white;
}

.not-found {
    color: #575368;
    text-align: center;
    padding: 20px;
}