@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');
body, html {
    padding: 0;
    margin: 0;
}
:root {
    --primary-blue: #78d0d3;
    --primary-gray: #3f3b51;
    --primary-gradient-color-2: rgb(255, 77, 225);
    --primary-gradient-color-1: rgb(47, 0, 255);
    --color-button-primary: rgb(20, 121, 216);
    --color-input: rgb(105, 105, 105);
    --color-placeholder: rgb(168, 168, 168);
    --modal-width: 500px;
    --modal-mobile-width: 90%;
    font-family: 'Overpass';
}
